<style>


  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employees" routerLinkActive="active">Employees</a>
        </li>
      </ul>
      <div ng-style="float:right">
        <!--<form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>-->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!--<li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link" routerLink="/logout" routerLinkActive="active">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Age</th>
      <th scope="col">Sex</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let employee of employees">
      <th scope="row">{{employee.id}}</th>
      <td>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td>
      <td>{{employee.age}}</td>
      <td>{{employee.sex}}</td>
      <td><div ng-style="padding:10px" class="btn btn-warning" (click)="getEmployee(employee.id)">Update</div></td>
      <td><div ng-style="padding:10px" class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</div></td>
    </tr>
  </tbody>
</table>
<div [ngStyle]="{'margin':'10px','float':'right'}" class="btn btn-success" (click)="createEmployee()">+Add Employee</div>
<div [ngStyle]="{'margin':'10px','float':'right'}" class="btn btn-warning">Cancel</div>
