.form-control {
  display: inline-block;
  width: 50%;
  padding: .375rem .75rem;
  font-size: 1rem;
  margin: .375rem !important;
}
.form-group {
  margin-left:30%;
}
.form-group label{
  display:inline-flex;
  width:100px;
}
.save-btn{
  position:absolute;
  left:53%;
}
